body {background-color:#E0F2F1; color:#00695C; font-family: 'Fontin Sans',sans-serif}
blockquote {border: 1px solid #004D40; padding: 10px}
.red, .red a, .red a:visited, .cool a, .cool a:visited {color:red}
a, a:visited {color:#0277BD}
.red a:hover {font-weight:bold}
p, table {max-width:1000px; margin:auto; padding-bottom:20px}
.c {text-align:center; font-weight:bold}
.c h1, .c h2 {margin: 0px}
.c a {text-decoration: none;}
table {border-collapse:collapse}
td {border:solid 1px black; padding:5px}
td:first-child {white-space:nowrap}
td:last-child {font-style:italic}
.f {width:100%; text-align:right; font-style:italic; font-size:smaller}
.f img {float: left}
.tabbertab a {font-weight: bold}
.kw {color: #8C61DF; font-weight: bold}

div.rl {width: 24em; height: 220px; border: solid #00695C 2px; border-top: none; right: 0; left: 0; margin-left: auto;margin-right: auto}
h2.rl {background-color:#E0F2F1; width: 14em; right: 0; left: 0; margin-left: auto;margin-right: auto; margin-top:-15px}
pre img {width: 100%}

@media screen and (max-width: 440px) { div.rl {width: 95%} }

/* A font by Jovanny Lemonad, see http://www.exljbris.com/fontinsans.html */
@font-face {font-family: 'Fontin Sans'; font-style: normal; font-weight: 400; src: local("☺"), url(fonts/FontinSans_Cyrillic_R_46b.otf) format("opentype")}
@font-face {font-family: 'Fontin Sans'; font-style: italic; font-weight: 400; src: local("☺"), url(fonts/FontinSans_Cyrillic_I_46b.otf) format("opentype")}
@font-face {font-family: 'Fontin Sans'; font-style: normal; font-weight: 700; src: local("☺"), url(fonts/FontinSans_Cyrillic_B_46b.otf) format("opentype")}
@font-face {font-family: 'Fontin Sans'; font-style: italic; font-weight: 700; src: local("☺"), url(fonts/FontinSans_Cyrillic_BI_46b.otf) format("opentype")}